/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Feb, 2015, 5:02:44 PM
    Author     : azinova
*/

.yell
{
    background: #888888;
    color: #ffffff;
    padding: 1px !important;
    text-align: left;
    font-size: 10px;
    line-height: 15px !important;
}
.csstd
{
    background-color: #ccffcc;
    color: #000000;

}
.calender-span{
    color: #00BA8B;
    font-size: 22px;
    margin-left: 330px;
    float: inherit;
}
.yell-long
{
    background: #FF7F74;
    color: #ffffff;
    padding: 1px !important;
    text-align: left;
    font-size: 10px;
    line-height: 15px !important;
}
.cell-long
{
    width: 10px; 
    height: 10px; 
    float: left; 
    margin: 15px 5px; 
    background: #FF7F74;
}
.cell-one-day
{
    width: 10px;
    background: #888888;
    height: 10px; 
    float: left; 
    margin: 15px 5px 0px 15px;
}