/* Styles by -  Samnad. S */
#primary_nav_wrap li:has(ul li a.active)>a {
    background: #fff;
    color: #333 !important;
}
#primary_nav_wrap ul li ul li .active {
    background: #4c656e;
    color: #fff !important;
}
.time_grid.loading{
    cursor: progress;
}
/************************ hide arrow from input number types **************************/
/* Chrome, Safari, Edge, Opera */
input[type=number].no-arrows::-webkit-outer-spin-button,
input[type=number].no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number].no-arrows {
    -moz-appearance: textfield;
}
/************************ hide arrow from input number types END **********************/
.bg-slot-booked {
    background-color: #026269;
    color: #fff;
}
.bg-slot-free {
    background-color: #fff;
    color: #294C5A;
}
.bg-slot-cancelled {
    background-color: #fff48f;
    color: #294C5A;
}
/************************ bubble colors **********************/
.bg-we{
    background-color: #026269 !important;
}
.source-schedule {
    background-color: #1694aa !important;
}
.bg-od {
    background-color: #0fa359 !important;
}
.pending {
    background-color: #afb13f !important;
}
/************************ schedule cell styling colors **********************/
.ui-selectee.current-week-day.ui-selecting {
    background: #ffc1bc !important;
}
.ui-selectee.ui-selecting {
    background: #ffc1bc !important;
}
#schedule-grid-rows .cell.current-week-day{
    background-color: #def7ff !important;
}
#schedule-grid-rows .cell.current-time {
    border-left: 1px solid #75f0d1 !important;
}
.cursor-pointer{
    cursor: pointer !important;
}