.maid_leave_bubble {
    background-color: #FFE7C7 !important;
}
.maid_leave_bubble p {
    color: #333;
    font-size: 13px;
  }
.booked_bubble {
    background: #026269;
    color: #f5fff5;
    height: 100%;
    width: auto;
    font-size: 12px;
    line-height: 22px;
    padding: 4px 10px;
    position: relative;
    z-index: 999;
    cursor: pointer;
    overflow: hidden;
    border-right: 1px #e2e2e2 solid;
    border-bottom: 1px #e2e2e2 solid;
}
.leave_data_bubble {
    background: #FFE7C7;
    color: #f5fff5;
    height: 100%;
    width: auto;
    font-size: 12px;
    line-height: 22px;
    padding: 4px 10px;
    position: relative;
    z-index: 999;
    cursor: pointer;
    overflow: hidden;
    border-right: 1px #e2e2e2 solid;
    border-bottom: 1px #e2e2e2 solid;
}
.deleted_bubble {
    background: #fff48f;
    color: #294C5A;
    height: 100%;
    width: auto;
    font-size: 12px;
    line-height: 22px;
    padding: 4px 10px;
    position: relative;
    z-index: 999;
    cursor: pointer;
    overflow: hidden;
    border-right: 1px #e2e2e2 solid;
    border-bottom: 1px #e2e2e2 solid;
}

.cancelled_bubble {
    background: #F9A602;
    color: #294C5A;
    height: 100%;
    width: auto;
    font-size: 12px;
    line-height: 22px;
    padding: 4px 10px;
    position: relative;
    z-index: 999;
    cursor: pointer;
    overflow: hidden;
    border-right: 1px #e2e2e2 solid;
    border-bottom: 1px #e2e2e2 solid;
}
.cancelled_bubble_by_customer {
    background: #83aff0;
    color: #294C5A;
    height: 100%;
    width: auto;
    font-size: 12px;
    line-height: 22px;
    padding: 4px 10px;
    position: relative;
    z-index: 999;
    cursor: pointer;
    overflow: hidden;
    border-right: 1px #e2e2e2 solid;
    border-bottom: 1px #e2e2e2 solid;
}
.cancelled_bubble_maid_absent {
    background: #4779c4;
    color: #294C5A;
    height: 100%;
    width: auto;
    font-size: 12px;
    line-height: 22px;
    padding: 4px 10px;
    position: relative;
    z-index: 999;
    cursor: pointer;
    overflow: hidden;
    border-right: 1px #e2e2e2 solid;
    border-bottom: 1px #e2e2e2 solid;
}
.cancelled_bubble_by_office {
    background: #3c649f;
    color: #294C5A;
    height: 100%;
    width: auto;
    font-size: 12px;
    line-height: 22px;
    padding: 4px 10px;
    position: relative;
    z-index: 999;
    cursor: pointer;
    overflow: hidden;
    border-right: 1px #e2e2e2 solid;
    border-bottom: 1px #e2e2e2 solid;
}
.cancelled_bubble_driver_mistake {
    background: #2c456b;
    color: #294C5A;
    height: 100%;
    width: auto;
    font-size: 12px;
    line-height: 22px;
    padding: 4px 10px;
    position: relative;
    z-index: 999;
    cursor: pointer;
    overflow: hidden;
    border-right: 1px #e2e2e2 solid;
    border-bottom: 1px #e2e2e2 solid;
}
.cancelled_bubble_other_reasons {
    background: #1b2d48;
    color: #294C5A;
    height: 100%;
    width: auto;
    font-size: 12px;
    line-height: 22px;
    padding: 4px 10px;
    position: relative;
    z-index: 999;
    cursor: pointer;
    overflow: hidden;
    border-right: 1px #e2e2e2 solid;
    border-bottom: 1px #e2e2e2 solid;
}
.datepicker{
    z-index: 99999 !important;
}