#schedule .head-last {
	width: 189px;
	height: 35px;
	background: #0da74d;
	/*background-image: linear-gradient(to bottom, #00A642, #00A642); */
	line-height: 35px;
	text-align: left;
	padding: 0px 10px;
	font-size: 10px;
	color: #FFF;
	float: right;
	position: relative;
	z-index: 999;
}
#booking-summary-box{
    position: sticky;
    float: right;
}